/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 6em 4em 2em;
  text-align: center;
  background-size: cover;
  background-position: center;
}

section h1 {
  font-family: "Mercury Text G1 A", "Mercury Text G1 B";
  font-style: italic;
  font-weight: 700;
}

section h2 {
  font-family: "Mercury Text G1 A", "Mercury Text G1 B";
  font-style: normal;
  font-weight: 400;
}

section h3 {
  font-family: "Landmark Regular A", "Landmark Regular B";
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1px;
}

section p {
  font-family: "Mercury Text G1 A", "Mercury Text G1 B";
  font-style: italic;
  font-weight: 400;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  padding: 2em 0;
  background-color: #ffffff;
  background-size: 1200px 600px;
  background-image: url('images/bkg2.png');
}

.intro h3 {
  color: #6D4F47;
  font-size: 1.75em;
  text-shadow: 2px 2px 2px #ffffff;
}

@media (min-width: 550px) {
  .intro {
    padding: 10em 0;
  }

/* Details
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.details {
  background-color: #F4C3CB;
  padding-bottom: 2em;
}

.details h1 {
  font-size: 3em;
  color: #E04E39;
  margin-top: .75em;
  margin-bottom: .5em;
}

.details h2 {
  font-size: 1.75em;
  color: #E04E39;
  margin-top: .75em;
  margin-bottom: 1.5em;
}

.details h3 {
  font-size: 1.75em;
  color: #6D4F47;
  margin-bottom: .75em;
}

/* Agenda
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.agenda {
  background-color: #F4C3CB;
  padding-top: .25em;
}

.agenda h1 {
  font-size: 2em;
  color: #E04E39;
  margin-top: 1em;
  margin-bottom: .5em;
}

.agenda h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: .25px;
  color: #6D4F47;
  margin-bottom: 2em;
}

.agenda h3 {
  font-size: 1.5em;
  color: #E04E39;
  margin-bottom: .5em;
}

.agenda p {
  font-size: 1.5em;
  letter-spacing: .25px;
  color: #E04E39;
  margin-top: 1em;
  margin-bottom: 5em;
}


/* Footers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  padding: 10em 0;
  background-size: 1200px 600px;
  background-color: #ffffff;
  background-image: url('images/bkg2.png');
}
