/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  /* padding: 6rem 0 7rem; */
  text-align: center;
}

section {
  padding: 6em 4em 2em;
  background-size: cover;
  background-position: center;
}

section h1 {
  font-family: "Mercury Text G1 A", "Mercury Text G1 B";
  font-style: italic;
  font-weight: 700;
  font-size: 3.25em;
}
section h2 {
  font-size: .875em;
  font-family: "Hoefler Text A", "Hoefler Text B";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3.5em;
}

section h3 {
  font-size: .875em;
  font-family: "Landmark Regular A", "Landmark Regular B";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3.5em;
}

section p {
  font-family: "Hoefler Text A", "Hoefler Text B";
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 550px) {
  section h1,
  section h2 {
    font-size: 6em;
  }
  section h1 {
    line-height: .925;
  }
  section h2 {
    font-size: 1.25em;
    font-weight: 400;
  }
  section h3 {
    font-size: 1.25em;
  }
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  padding: 8em 0;
  background-color: #ffffff;
  background-size: 800px 400px;
  background-image: url('images/bkg2.png');
}
.intro h1,
.intro h2,
.intro h3 {
  color: #946037;
  /* margin-bottom: .25em; */
}
.intro h1 {
  /* margin-bottom: .125em; */
}
.intro h3 {
  margin-bottom: .25em;
}
.intro p {
  color: #946037;
  font-size: .875em;
}

@media (min-width: 550px) {
  .intro {
    padding: 10em 0;
  }
  .intro h1,
  .intro h2,
  .intro h3 {
    margin-bottom: .5em;
  }
  .intro h1 {
    margin-bottom: .25em;
  }
  .intro h3 {
    margin-bottom: .75em;
  }
  .intro p {
    font-size: 1em;
  }
}

/* Details
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.details {
  background-color: #ECC7CD;
}
.details h1 {
  font-size: 16em;
}

@media (min-width: 550px) {
  .details h1 {
    font-size: 1.825em;
    line-height: 1.25;
  }
}

/* Footers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  padding: 8em 0;
  background-color: #ffffff;
  background-image: url('images/bkg2.png');
}

.circle  {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #E5554F;
  line-height: 500px;
  text-align: center;
  background: #FBDB65;
}
